node_modules
.env
dist
build
*.log
.DS_Store
.idea
.vscode
*.zip
*.rar
*.tar.gz
*.7z
tmp
.gemini
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
